/* Nav Bar */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("./assets/calmkid.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 0.1px solid rgb(179, 179, 179);
}

.nav-logo {
  margin-left: 0.5rem;
  font-weight: bold;
  font-size: 3rem;
  display: flex;
  align-items: center;
  font-family: monospace;
  gap: 2rem;
  padding: 0 1rem;
  filter: drop-shadow(20px 7px 5px white);
}

.nav-links {
  color: inherit;
  font-family: monospace;
  padding: 1;
  margin: 1;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: large;
}

a {
  text-decoration: none;
  color: white;
}

.nav-links :hover {
  scale: 1.7;
}

/* landing page */

.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  max-width: 600px;
  margin: 10rem auto; /* שימו לב שהערך השני הוא 'auto' כדי להבטיח מיקום במרכז */
  padding: 2rem; /* נוסיף padding כדי להבטיח מרווח מסביב לטקסט */
  backdrop-filter: blur(5px);
  justify-content: center;
  border-radius: 10px;
  display: flex; /* הוספת פרופרטי display עם ערך flex כדי לאפשר יישום של justify-content */
  align-items: center; /* ליישום מרכזיות אנכית */
}


.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #191919;
  margin: -10rem auto 3rem; /* שימו לב שהערך הראשון הוא 'auto' כדי להבטיח מיקום במרכז */
  padding: 1rem; /* נוסיף padding כדי להבטיח מרווח מסביב לטקסט */
  backdrop-filter: blur(5px);
  border-radius: 10px;
  display: flex; /* הוספת פרופרטי display עם ערך flex כדי לאפשר יישום של justify-content */
  justify-content: center; /* ליישום מרכזיות אופקית */
}

.features-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
}

.featureslist {
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.feature-item {
  margin-right: 10px;
  text-align: center;
  position: relative;
}
.feature-item button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db; /* Border color */
  color: #fff; /* Text color */
  background-color: #3498db; /* Background color */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.feature-item :hover {
  background-color: #ffffff; /* Hover background color */
  color: #3498db; /* Hover text color */
}
.description {
  margin: 1rem 1rem 20rem 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid #858585;
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

/* Sign Up page */
.sign-log-head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6a67ce, #fc636b);
  padding: 2rem 0;
}

.sign-log-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.sign-log-form {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.8);
  padding: 3rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.1);
}

.sign-log-lable {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #333;
  transition: all 0.2s ease-in-out;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.8rem 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #e5e5e6;
  box-shadow: 0 0 0.5rem rgba(106, 103, 206, 0.3);
}

.container-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sign-log-button {
  background: linear-gradient(135deg, #6a67ce, #fc636b);
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.sign-log-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/*child Page*/

/*Nav Bar Child and Parent*/
.ChildLPage {
  text-align: center;
}
.backgroundChildPage {
  display: block;
  height: 120vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/Background_Image.jpg");
}

/* ChildPage.css */

.child-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.NavBarChildPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  background-color: #f1f1f1;
}

.NavBarChildPage-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.NavBarChildPage-button:hover {
  background-color: #bbf4dd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.NavBarChildPage-title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

/*Tabs for child and parent*/

.tab-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
}

.tab-panel {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px; /* Increase the width */
  height: 200px; /* Increase the height */
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  padding: 20px; /* Added padding for content spacing */
  text-align: center; /* Center align text */
  font-size: 16px; /* Adjust font size */
  color: #333; /* Text color */
  cursor: pointer;
}

.tab-panel:hover {
  background-color: #bbf4dd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tab-title {
  font-size: 1.1rem;
  text-align: center;
}

.ButtonPlayMusic {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 140px;
  right: 80px;
  background-color: #bff8c8;
  border: 2px solid black; /* Added black border */
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the play icon vertically and horizontally */
}

.ButtonPlayMusic:hover {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 140px;
  right: 80px;
  background-color: #92ec9f;
  border: 2px solid black; /* Added black border */
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the play icon vertically and horizontally */
}

.play-icon {
  width: 30px;
  height: 30px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 35px solid white;
}

.home-page-parant {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* src/components/AboutUs.css */
.AboutUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.aboutus-content {
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #858585;
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.aboutus-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.aboutus-content span {
  background-color: #d4e27527;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}

.aboutus-p {
  font-size: 2rem;
  margin-top: 10px;
}

/* Style in your CSS file */
.aboutus-images {
  display: flex;
  gap: 16px; /* Adjust the gap between images */
}

.our_pics {
  text-align: center;
}

.round-image {
  width: 210px; /* Adjust the width of each image */
  height: 210px; /* Adjust the height of each image */
  border-radius: 50%; /* Create a circular border */
  object-fit: cover; /* Maintain aspect ratio and cover the circular area */
  border: 3px solid #e3e4cb69; /* Border color - you can change this */
}

.image-name {
  margin-top: 8px; /* Adjust the margin between image and name */
  font-size: 2.5rem;
  font-weight: bold;
  background-color: #d4e27527;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}

.Game {
  position: absolute;
  width: 100%;
  height: 100%;

  header {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;

    > div {
      font-size: 15px;
      width: 324px;
      text-align: center;
      margin: 0 auto;
    }
  }

  footer {
    width: 360px;
    position: relative;
    margin: 0 auto;
    padding: 10px 4px;
    margin-top: 10px;

    .score {
      justify-content: center;
      display: flex;

      div {
        padding: 8px;
        backdrop-filter: blur(5px);
      }
    }

    .restart {
      display: flex;
      justify-content: center;
    }
  }

  .container {
    border: 1px solid #dedede;
    padding: 1px;
    box-shadow: 0 0 4px 4px #dedede;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: stretch;
    gap: 1rem;
    margin: 0 auto;
    width: 480px;
    height: 400px;
    perspective: 100%;
    max-width: 720px;
  }
  .bold {
    font-weight: 600;
    text-transform: uppercase;
  }
}
.GameCards {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 4px #dedede;
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-face {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    &.card-back-face {
      transform: rotateY(180deg);
    }
  }
  .card {
    /* Other styles */
    transition: transform 0.5s ease;
  }
  &.is-flipped {
    transform: rotateY(180deg);
  }

  &.is-inactive {
    visibility: hidden;
    opacity: 0;
  }
}

.NavBarAdminPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  background-color: #f1f1f1;
}

.NavBarAdminPage-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.NavBarAdminPage-title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.home-page-Admin {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .tab-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
  }
}
.TabAdminPage-panel {
  font-size: 1.1rem;
  text-align: center;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px; /* Increase the width */
  height: 130px; /* Increase the height */
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  padding: 20px; /* Added padding for content spacing */
  text-align: center; /* Center align text */
  font-size: 16px; /* Adjust font size */
  color: #333; /* Text color */
  cursor: pointer;

  .tab-title {
    font-size: 1.1rem;
    text-align: center;
  }
}
.TabAdminPage-panel:hover {
  background-color: #bbf4dd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Parent-contact-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; /* Set background color to white */
  border: 1px solid rgba(0, 0, 0, 0.2); /* Border for better visibility */
  padding: 20px;
  color: black; /* Text color */
  border-radius: 20px; /* Rounded corners */
  width: 30%; /* Set the width to 80% of the viewport width */
  max-width: 600px; /* Limit the maximum width */
  text-align: center; /* Center text horizontally */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
}

.advices {
  position: relative;
  margin: 50px auto 20px; /* Added margin to create space between navbar and box, and reduced margin at the bottom */
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 10px;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Change font family */
}

.advices h1 {
  font-size: 28px; /* Increase font size */
  margin-bottom: 20px;
  font-weight: bold; /* Add font weight */
}

.advices-list {
  display: grid;
  grid-gap: 20px;
}

.advice-item {
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ced4da;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px; /* Increase font size */
}
.add-advice-button {
  button {
    padding: 10px 20px;
    margin: 50px 20px; /* Adjust the margin here to create more space */
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #89ee8b;
    color: white;
  }
}
.add-advice-button:hover {
  button {
    padding: 10px 20px;
    margin: 50px 20px; /* Adjust the margin here to create more space */
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #3caa3e;
    color: white;
  }
}
.add-advice-container {
  margin-top: 20px;
}

.add-advice-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advice-textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; /* Prevent resizing */
  text-align: right; /* Align text to the right */
}

.add-button {
  padding: 10px 20px;
  background-color: #9fefa1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.success-message {
  color: green;
  font-weight: bold;
}
.advices-list {
  margin-top: 20px; /* Add some space between the heading and the list */
}

.advice-item {
  position: relative; /* Set position to relative */
}

.remove-advice-button {
  position: absolute;
  bottom: 2px; /* Increase the bottom margin */
  left: 4%;
  transform: translateX(-50%);
  background-color: #f68080;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Remove the hover effect */
.remove-advice-button:hover {
  background-color: #ff0000;
}

.selected-reviews-container {
  margin-top: 300px;
  gap: 20px;
}

.selected-review-box {
  padding: 10px;
  border-radius: 1px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.1s ease;
}

.selected-review-box:hover {
  background-color: rgba(255, 255, 255, 0.95);
}
