
/* Nav Bar */
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-image: url('./assets/calmKid.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.nav{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 0.1px solid rgb(179, 179, 179);
}

.nav-logo{
margin-left: 0.5rem;
font-weight: bold;
font-size: 3rem;
display: flex;
align-items: center;
font-family: monospace;
gap: 2rem;
padding: 0 1rem;
filter: drop-shadow(20px 7px 5px white);
}

.nav-links{
  color: inherit;
  font-family: monospace;
  padding: 1;
  margin: 1;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: large;
}

a{
  text-decoration: none;
  color: white;
}

.nav-links :hover{
 scale: 1.7;
}


/* Sign Up page */

.sign-up-head{
  width: 100%;
  display: flex;
  justify-content: center;
}

.sign-up-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.sign-up-form {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.sign-up-lable {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.sign-up-button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sign-up-button:hover {
  background-color: #45a049;
}